@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}

/* navbar */
.header{
    background: rgba(255, 144, 14, 0.1);
  /*   height: 100%; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px ;
    margin: 0 auto;
    width: 80%;

}
nav ul{
    display: flex;
    list-style:none;
    gap: 15px;
    font-size: 1.5rem;
}
/* nav li{
    /* margin-right: 70px; */

/* hero section */
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;

}
.hero-section h1{
    font-weight: 700;
    font-size: 4rem;
    color: #131313;
    padding: 10px;
    
}
.hero-section p{
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
    padding: 25px;
     
}
.hero-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    font-size: 1.2rem;
}
.hero-section img{
    padding: 50px 0;
}
/* feature section */
.feature-section{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 85px auto;
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.feature-section h1{
    font-size: 2.81rem;
    font-weight: 500;
    padding: 10px 0;
}
.feature-section p{
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
    padding: 20px 0;
}
.feature-btn{
    color: #FFFFFF;
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    font-size: 1.2rem;
}
/* service-section */
.services-section{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 190px;
    justify-content: space-between;

}
.service-title{
    display: flex;
    padding: 25px 0;
    align-items: center;
}
.service-title h1{
    padding: 25px;
    font-size: 2.6rem;
    font-weight: 500;
}
.vertical-line{
    height: 106px;
    width: 5px;
    background: #FF900E;
}


.service{
    width: 586px;
    height: 160px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 20px 0;
}
.service-inside{
    padding: 15px 25px;
}
.service-inside h4{
   padding: 10px 0; 
}
.service-inside p{
    padding-top: 10px;
}
.service-right-bottom{
    position: relative;
    bottom: 108px ;
    right: 97px;
    width: 342px;
    height: 200px;
    background: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
}
.service-right-bottom-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px 0;
    font-size: 1.6rem;
    
}
/* achievement-section */
.achievement-section{
    width: 80%;
    margin: 0 auto;
}
.achievement-title{
    padding: 85px 0px
}
.achievement-title h1{
    font-size: 2.8rem;
    font-weight: 700;
    padding: 15px 0;
}
.achievement-title p{
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
}
.achievements{
    display: flex;
    justify-content: space-around;
}
.achievement{
    width: 241px;
    height: 241px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: background 0.3s linear 0.3s;
    transition: transform 2s ;
    
}

.achievement:hover{
    background:#FF900E;
    color: #FFFFFF;
    transform: rotate(45deg);
}
.achievement-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px 0;
    font-size: 1.6rem;
    
}
.achievement-info:hover{
    transform: rotate(-45deg);
    
}
.achievement-info> img:hover{
    font-size: 1.8rem;
}
/* contact  */
.contact-section{
    width: 45%;
    margin: 0 auto;
    
}
.contact-title{
    padding: 55px 0;
    text-align: center;
}
.contact-title h1{
    font-size: 2.8rem;
    font-weight: 700;
}
.contact-title p{
    font-weight: 500;
    font-size: 1.2rem;
    color: #727272;
}
input[type=text],
textarea {
  width: 100%;
  padding: 14px;
  border: 0;
  background: rgba(255, 144, 14, 0.1);
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
    color: #FFFFFF;
    padding: 16px 35px;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    font-size: 1.2rem;
}
input[type=submit]:hover {
  background-color: #c59a68;
}
label{
    font-weight: 500;
    font-size: 1.2rem;
    color: #727272;
}
input, textarea{
    font-weight: 400;
    font-size: 1rem;
    color: #727272; 
}

/* sponsor section */
.sponsor-section{
    width: 80%;
    margin: 0 auto;
}
.sponsor-description{
    text-align: center;
    margin-top: 70px;
    padding: 25px;
}
.sponsor-title{
    font-size: 2.8rem;
    font-weight: 700;
    padding: 15px 0;
}
.sponsor-description p{
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
}
.sponsors{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    
}
.sponsor{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.footer{
    width: 80%;
    padding: 20px 0;
    background: rgba(255, 144, 14, 0.1);
    margin: 0 auto;
}
.footer p{
    text-align: center;
}
.hide{display: none;}
/* responsive  */
@media only screen and (max-width:576px) {
    .header{
        width: 100%;
    }

    nav{
        flex-direction: column;
        justify-content: start;
        flex: start;
        padding: 50px 0;
        position: relative;
        right: 100px;
        width: 100%;
        overflow-x: hidden;
        
    }
    .nav-title{
        font-size: 1.3rem;
    }
    
    nav ul{
        padding-top: 15px;
        flex-direction: column;
        justify-content: start;
    }
    nav ul >li:hover{
        background: gray;
        padding: 10px;
        color: #FFFFFF;
    }
    .hero-img{
        width: 100%;
    }
    .feature-section{
        flex-direction: column;
        width: 100%;
    }
    .feature-img{
        display: flex;
        flex-direction: column;
    }
    .feature-description{
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .feature-title{
        text-align: center;
    }
    .services-section{
        flex-direction: column;
    
        
    }
    .service-title{
        padding: 0;
        margin-left: 45px;
    }
    .service-description{
        margin-left: 45px;
    }
    .service{
        width: 550px;
        height: 180px;
    }
    .service-right img{
        width: 100%;
    }
    .service-right-bottom{
        position: relative;
        bottom: 58px ;
        right: 40px;
        width: 171px;
        height: 100px;
    }
    .service-right-bottom-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px 0;
        font-size: 1rem;
        
    }
    .achievements{
        flex-direction: column;
        align-items: center;
        gap: 55px;
    }
    .sponsors{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .footer{
        width: 100%;
    }
    input[type=submit] {
        color: #FFFFFF;
        text-align: center;
        padding: 16px 120px;
        background: #FF900E;
        border-radius: 8px;
        border: 0;
        font-size: 1.2rem;
    }
} 
